.cart-wrapper{
    width:100vw;
    height:30px;
    display:flex;
    justify-content:end;
    /* position:relative; */
}
.cart-logo {
    display: flex;
    align-items: center;
    cursor:pointer;
    position:relative;
}

.cart-logo svg {
    width: 24px; /* Kích thước icon */
    height: 24px; /* Kích thước icon */
    margin-left: 8px; /* Khoảng cách giữa số lượng và icon */
    fill: currentColor; /* Để icon có màu giống với màu chữ */
}
.numOfCart{
    position:absolute;
    width:22px;
    height:22px;
    color:aliceblue;
    bottom:36px;
    left:9px;
    border-radius: 50%;
    border: 2px solid;

}

